[submodule "packages/gravatar"]
	path = packages/gravatar
	url = https://github.com/tmeasday/meteor-gravatar
[submodule "packages/crypto-md5"]
	path = packages/crypto-md5
	url = https://github.com/oortcloud/meteor-crypto-md5
[submodule "packages/crypto-base"]
	path = packages/crypto-base
	url = https://github.com/oortcloud/meteor-crypto-base
[submodule "packages/prettydate"]
	path = packages/prettydate
	url = https://github.com/sergeyt/node-prettydate
[submodule "packages/bootstrap-3"]
	path = packages/bootstrap-3
	url = https://github.com/mangasocial/meteor-bootstrap-3
[submodule "packages/accounts-fogbugz"]
	path = packages/accounts-fogbugz
	url = https://github.com/sergeyt/meteor-accounts-fogbugz
[submodule "packages/jquery-ui"]
	path = packages/jquery-ui
	url = https://github.com/TimHeckel/meteor-jquery-ui.git
[submodule "packages/jquery-ui-bootstrap"]
	path = packages/jquery-ui-bootstrap
	url = https://github.com/TimHeckel/meteor-jquery-ui-bootstrap.git
[submodule "packages/bootstrap-cyborg"]
	path = packages/bootstrap-cyborg
	url = https://github.com/and-fri/meteor-bootstrap-cyborg.git
