[submodule "app/packages/gravatar"]
	path = app/packages/gravatar
	url = https://github.com/tmeasday/meteor-gravatar
[submodule "app/packages/crypto-base"]
	path = app/packages/crypto-base
	url = https://github.com/oortcloud/meteor-crypto-base
[submodule "app/packages/crypto-md5"]
	path = app/packages/crypto-md5
	url = https://github.com/oortcloud/meteor-crypto-md5
[submodule "app/packages/prettydate"]
	path = app/packages/prettydate
	url = https://github.com/sergeyt/node-prettydate
[submodule "app/packages/bootstrap-3"]
	path = app/packages/bootstrap-3
	url = https://github.com/mangasocial/meteor-bootstrap-3
[submodule "app/packages/accounts-fogbugz"]
	path = app/packages/accounts-fogbugz
	url = https://github.com/sergeyt/meteor-accounts-fogbugz
[submodule "app/packages/jquery-ui"]
	path = app/packages/jquery-ui
	url = https://github.com/TimHeckel/meteor-jquery-ui
[submodule "app/packages/jquery-ui-bootstrap"]
	path = app/packages/jquery-ui-bootstrap
	url = https://github.com/TimHeckel/meteor-jquery-ui-bootstrap
[submodule "app/packages/async"]
	path = app/packages/async
	url = https://github.com/peerlibrary/meteor-async
[submodule "app/packages/moment"]
	path = app/packages/moment
	url = https://github.com/acreeger/meteor-moment
[submodule "app/packages/livequery"]
	path = app/packages/livequery
	url = https://github.com/sergeyt/livequery
[submodule "app/packages/npm"]
	path = app/packages/npm
	url = https://github.com/arunoda/meteor-npm
