[submodule "packages/gravatar"]
	path = packages/gravatar
	url = https://github.com/tmeasday/meteor-gravatar
[submodule "packages/crypto-md5"]
	path = packages/crypto-md5
	url = https://github.com/oortcloud/meteor-crypto-md5
[submodule "packages/crypto-base"]
	path = packages/crypto-base
	url = https://github.com/oortcloud/meteor-crypto-base
[submodule "packages/prettydate"]
	path = packages/prettydate
	url = https://github.com/sergeyt/node-prettydate
