@import "common.less";

.navbar-brand {
	font-weight: bold;
	font-size: 150%;
}

.board {
  width: 100%;
  height: 100%;
}

.board .column {
  float: left;
  width: 15em;
  height: 800px;
  margin-left: 2px;
  margin-right: 2px;
  overflow: auto;
}

.item-list {
  margin: 0;
  padding: 0;
}

.drag {
  position: absolute;
}

.hidden {
	display: none;
}
