.board {
    width: 100%;
    height: 100%;
}

.board .column {
    float: left;
    width: 200px;
    height: 600px;
    overflow: auto;
}

.item-list {
    margin: 0;
    padding: 0;
}

.work-item {
    list-style: none;
    padding: 8px;
    margin: 2px;
    background: yellow;
    border: black solid 1px;
}