@import "common.less";

.filters .color {
	display: block;
	width: 0.75em;
	height: 1.5em;
	margin-left: -8px;
	margin-right: 2px;
	.rounded-corners(3px);
	border: 1px solid white;
}

.filters .selected .color {
	border: 1px solid transparent;
}
.filters .selected {
	font-weight: bold;
}

.filters .color, .filters .selected {
	background: lightgray;
}

.filters .bug .color, .filters .selected.bug {
	background: @bug;
}

.filters .feature .color, .filters .selected.feature {
	background: @feature;
}

.filters .task .color, .filters .selected.task {
	background: @task;
}

.filters .inquiry .color, .filters .selected.inquiry {
	background: @inquiry;
}

.filters .goal .color, .filters .selected.goal {
	background: @goal;
}

.filters .regression .color, .filters .selected.regression {
	background: @regression;
}