@import "common.less";

.work-item {
  list-style: none;
  padding: 0;
  margin: 1em;
  float: left;
}

.work-item a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  background: @feature;
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  -moz-transition: -moz-transform .15s linear;
  -o-transition: -o-transform .15s linear;
  -webkit-transition: -webkit-transform .15s linear;
}

.comfort .work-item a {
  width: 8em;
  height: 8em;
  padding: 0.5em;
}

.compact .work-item a {
  width: 4em;
  height: 4em;
  padding: 0.5em;
}

.work-item a {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}

.work-item:nth-child(even) a {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
}

.work-item:nth-child(3n) a {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
}

.work-item a:hover, .work-item a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  position: relative;
  z-index: 5;
}

.work-item h2 {
  font-weight: bold;
  margin: 0;
  line-height: 1;
}

.work-item h4 {
  font-size: 12pt;
  font-weight: bold;
  margin: 0;
  .line-clamp(2);
}

.comfort .work-item h2 {
  font-size: 150%;
}

.compact .work-item h2 {
  font-size: 120%;
}

.work-item p {
  font-family: "Reenie Beanie", arial, sans-serif;
  font-size: 150%;
  .line-clamp;
}

.compact .work-item p {
  display: none;
}

/* item colors by category */
.work-item.bug a {
  background: @bug;
}

.work-item.feature a {
  background: @feature;
}

.work-item.task a {
  background: @task;
}

.work-item.inquiry a {
  background: @inquiry;
}
