<template name="item">
	<li class="work-item {{category}} {{goalClass}}" title="{{assignee.name}}: {{title}}">
		<a href="#">
			<div class="heading">
				<span class="label label-info priority">P{{priority}}</span>
				<span class="id {{idClass}}">{{id}}</span>
			</div>
			<div class="closed-time {{closedClass}}">
				<span>{{closedShort}}</span>
			</div>
			<div class="assignee {{assigneeState}}">
				<img src="{{avatarUrl}}"/>
				<span>{{assigneeShortName}}</span>
			</div>
			<p class="title">{{title}}</p>
			<div class="comment-count" title="{{commentCount}} comments" data-toggle="tooltip" data-placement="top">
				<i class="glyphicon glyphicon-comment"/>
				{{commentCount}}
			</div>
		</a>
	</li>

</template>

<template name="itemDetails">
	<div id="{{item._id}}-details" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">{{item.id}}: {{item.title}}</h4>
				</div>
				<div class="modal-body">
					{{#each eventList}}
					{{> event}}
					{{/each}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</template>