<template name="legend">
	<div class="legend">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th colspan="2" style="text-align: left">Legend</th>
				</tr>
				<tr>
					<th>Done</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				{{#each items}}
					<tr class="item {{css}}" title="{{title}}" data-toggle="tooltip" data-placement="right">
						<td>{{done}}%</td>
						<td>{{total}}%</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>