<template name="navbar">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="/" title="Kanban" data-toggle="tooltip" data-placement="bottom">看板</a>
		</div>

		<div class="collapse navbar-collapse">
			{{#if currentUser}}
			<ul class="nav navbar-nav" title="Select milestone" data-toggle="tooltip" data-placement="bottom">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{board}} <b class="caret"></b></a>
					{{>boards}}
				</li>
			</ul>

			{{>deadline}}

			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<button type="button" class="btn btn-default btn-comfort-view {{comfortState}}" title="Comfortable view" data-toggle="tooltip" data-placement="bottom">
						<i class="glyphicon glyphicon-th-large"></i>
					</button>
					<button type="button" class="btn btn-default btn-compact-view {{compactState}}" title="Compact view" data-toggle="tooltip" data-placement="bottom">
						<i class="glyphicon glyphicon-th"></i>
					</button>
					<button type="button" class="btn btn-default btn-effects {{effectsState}}" title="Enable effects" data-toggle="tooltip" data-placement="bottom">
						<i class="glyphicon glyphicon-thumbs-up"></i>
					</button>
					<button type="button" class="btn btn-default btn-clean" title="Clean database (for dev purposes!)" data-toggle="tooltip" data-placement="bottom">
						<i class="glyphicon glyphicon-trash"></i>
					</button>
				</div>
			</form>
			{{/if}}

			{{#if currentUser}}
			{{>search}}
			{{/if}}

			{{#unless currentUser}}
			{{>login}}
			{{/unless}}

			{{#if currentUser}}
			{{>themeSelector}}
			{{>columnsVisibility}}
			{{>usermenu}}
			{{/if}}
		</div>
	</nav>
</template>