<template name="toolbar">
	<div id="toolbar" class="btn-toolbar" style="margin-bottom: 10px">
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				Board <span class="caret"></span>
			</button>
			{{> boards}}
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-sync" title="Sync with FogBugz">
				<i class="glyphicon glyphicon-refresh"></i>
			</button>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-comfort-view {{comfortState}}" title="Comfortable">
				<i class="glyphicon glyphicon-th-large"></i>
			</button>
			<button type="button" class="btn btn-default btn-compact-view {{compactState}}" title="Compact">
				<i class="glyphicon glyphicon-th"></i>
			</button>
			<button type="button" class="btn btn-default btn-effects {{effectsState}}" title="Effects">
				<i class="glyphicon glyphicon-thumbs-up"></i>
			</button>
		</div>
	</div>
</template>
