settings {
  logfile = "/tmp/.lsyncd/lsyncd.log",
  pidfile = "/tmp/.lsyncd/lsyncd.pid",
  statusFile = "/tmp/.lsyncd/lsyncd.status",
  nodaemon = false,
  maxDelays = 900,
  maxProcesses = 6
}

sync {
  default.rsync,
  source = "/vagrant/app/",
  target = "/home/vagrant/app/",
  rsync = {
    archive = true,
    compress = false,
    verbose = true,
    update = true,
    delete = "startup"
  }
}