<template name="login">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="panel panel-default login-form">
				<div class="panel-heading">
					<h class="panel-title">Welcome to the Kanban</h>
				</div>
				<div class="panel-body">
                    <div class="form-group">
                        <input type="text" class="form-control typeahead" id="endpoint" placeholder="Fogbugz endpoint" autocomplete="off" spellcheck="off" data-source='{{endpoints}}' required>
                    </div>
					<div class="form-group">
						<input type="email" class="form-control typeahead" id="login-email" placeholder="Email address" autocomplete="off" spellcheck="off" data-source='{{emails}}' required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="login-password" placeholder="Password" required>
					</div>
					<!-- TODO implement 'remember me' -->
					<!--<div class="checkbox">-->
					<!--<label>-->
					<!--<input type="checkbox">Remember me</input>-->
					<!--</label>-->
					<!--</div>-->
					<button type="button" class="btn btn-primary btn-block login-button">Sign in</button>
				</div>
			</div>
		</div>
	</div>
</template>