@import "common.less";

.navbar-brand {
	font-weight: bold;
	font-size: 150%;
}

.column {
  margin-left: 2px;
  margin-right: 2px;
  overflow: auto;
}

.item-list {
  margin: 0;
  padding: 0;
}

.drag {
  position: absolute;
}

.hidden {
	display: none;
}

.form-group .twitter-typeahead {
	width: 100%;
}